.box{
    background-color: $white;
    padding: 25px;
    &__text{
        padding: 20px;
    }
    &__p{
        padding: 20px;
    }
}
.service{
    text-align: center;
    width: 500px;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 35px;
}
.price-btn{
    @extend %price-btn;
}
.card-price-p{
    margin-left: 20px;
}
.price-btn-1{
    margin-top: 40px;
}
.rec-card{
    background-color: $white;
    padding: 20px;
}
.rec-display{
    display: flex;
}
.names{
    display: flex;
    &__text{
       margin-left: 25px;
    }
}
.education{
    background-color: $white;
    padding: 40px;
    &__demo{
        padding: 20px;
        h6,p{
            padding: 10px;
        }
    }
}

.logo{
    background-color: $body-bg-color;
    font-size: 120px;
    text-align: center;
    padding: 20px;
}
.footer-1{
    background-color: $white;
    text-align: center;
    padding: 10px;
}
@media only screen and (max-width: 768px) {
    .logo {
      font-size: 40px;
    }
    .service{
        width: 200px;
    }
  }