$rect-btn-col:#FFB400;
$Yellow2:#FFB400;
$Black:#2B2B2B;
$Dark_Background:#18191A;
$Dark_View2:#3A3B3C;
$Dark_View1:#242526;
$ParagraphFont:#767676;
$Background:#F0F0F6;
$white:#FFFFFF;
$body-bg-color:#E5E5E5;